<a href="https://colab.research.google.com/github/Malavika-2001-gif/colab-notebook/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
# Load the dataset
titanic_df = pd.read_csv("/content/titanic_dataset.csv")
# Set 'PassengerId' as the index
titanic_df.set_index('PassengerId', inplace=True)
# Display basic information about the dataset
titanic_df.info()

# Display the first few rows of the dataset
print(titanic_df.head())

# Get statistical summary of the dataset
print(titanic_df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [6]:
import pandas as pd

# Load the dataset
titanic_df = pd.read_csv("/content/titanic_dataset.csv")

# Set 'PassengerId' as the index
titanic_df.set_index('PassengerId', inplace=True)

# Select only numeric columns
numeric_columns = titanic_df.select_dtypes(include=['number'])

# Fill missing values in numeric columns with the median
titanic_df[numeric_columns.columns] = numeric_columns.fillna(numeric_columns.median())

# For categorical columns, fill missing values with the mode
categorical_columns = titanic_df.select_dtypes(exclude=['number'])
titanic_df[categorical_columns.columns] = categorical_columns.fillna(categorical_columns.mode().iloc[0])

# Verify there are no more missing values
print(titanic_df.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [8]:
import numpy as np

# Function to remove outliers using the IQR method
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers in 'Age', 'Fare', and 'SibSp' columns
titanic_df = remove_outliers(titanic_df, 'Age')
titanic_df = remove_outliers(titanic_df, 'Fare')
titanic_df = remove_outliers(titanic_df, 'SibSp')

# Display the updated dataset info
print(titanic_df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   575.000000  575.000000  575.000000  575.000000  575.000000
mean    453.723478    0.372174    2.403478   29.333478    0.307826
std     260.007012    0.483805    0.742433   12.838648    0.525508
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     220.500000    0.000000    2.000000   21.000000    0.000000
50%     450.000000    0.000000    3.000000   28.000000    0.000000
75%     684.000000    1.000000    3.000000   36.750000    1.000000
max     891.000000    1.000000    3.000000   64.000000    2.000000

            Parch        Fare
count  575.000000  575.000000
mean     0.342609   18.213913
std      0.821643   14.058748
min      0.000000    0.000000
25%      0.000000    7.925000
50%      0.000000   13.000000
75%      0.000000   26.000000
max      6.000000   69.300000

In [10]:
from sklearn.preprocessing import MinMaxScaler

# Separate the features and target
features = titanic_df.drop('Survived', axis=1)
target = titanic_df['Survived']

# Select only numeric columns from features
numeric_features = features.select_dtypes(include=['number'])

# Apply Min-Max Scaling to numeric features only
scaler = MinMaxScaler()
features_scaled = scaler.fit_transform(numeric_features)

# Convert scaled numeric features back to a DataFrame
features_scaled_df = pd.DataFrame(features_scaled, columns=numeric_features.columns, index=numeric_features.index)

# If you need to include the categorical features, handle them separately (e.g., one-hot encoding)
# and then concatenate with the scaled numeric features.

# Display the scaled feature set
print(features_scaled_df.head())

   PassengerId  Pclass       Age  SibSp  Parch      Fare
0     0.000000     1.0  0.339415    0.5    0.0  0.104618
2     0.002247     1.0  0.402328    0.0    0.0  0.114358
3     0.003371     0.0  0.543882    0.5    0.0  0.766234
4     0.004494     1.0  0.543882    0.0    0.0  0.116162
6     0.006742     0.0  0.842718    0.0    0.0  0.748377

In [14]:
# Combine the scaled features with the target variable
final_df = pd.concat([features_scaled_df, target], axis=1)

# Display the final dataset
print(final_df.head())

   PassengerId  Pclass       Age  SibSp  Parch      Fare  Survived
0     0.000000     1.0  0.339415    0.5    0.0  0.104618         0
2     0.002247     1.0  0.402328    0.0    0.0  0.114358         1
3     0.003371     0.0  0.543882    0.5    0.0  0.766234         1
4     0.004494     1.0  0.543882    0.0    0.0  0.116162         0
6     0.006742     0.0  0.842718    0.0    0.0  0.748377         0